@import "../../../styles";
.section1 {
  position: relative;

  .in-bx {
    padding-top: $size-500;
    padding-bottom: $size-500;
    .inn-bx {
      padding-top: $size-400;
      @include lessThan(md) {
        padding-top: $size-100;
      }
    }
  }
  .second-btn {
    color: $white;
    height: 60px;
    width: 210px;
    &:hover {
      background-color: $border-button-hover;
      scale: 1;
      box-shadow: $base-box-shadow;
      border: 1px solid $border-button-hover;
    }
  }

  .mainImage {
    width: 446px;
    aspect-ratio: 0.95913978;
    height: auto;
  }

  .gradient {
    &:before {
      content: "";
      position: absolute;
      overflow: hidden;
      width: 500px;
      height: 515px;
      z-index: -1;
      background-position: top 11rem;
      background-repeat: no-repeat;
      background-image: url("../../../../public/assets//red.svg");
      //  border: 1px solid #fff;
      @include lessThan(xl) {
        width: 499px;
      }
      @include lessThan(sm) {
        display: none;
      }
    }
  }
}
