@import "../../../styles";
.section2 {
  position: relative;
 
  @include lessThan(xl){
    .col2{
      order: -1;
    }
  }
 

  @media (min-width: 50em) {
    .even-colums {
      grid-auto-columns: 1fr;
    }
  
  }

  position: relative;
  .in-bx {
    padding-top: $size-500;
    padding-bottom: $size-500;
    .inn-bx {
      padding-top: $size-400;
      @include lessThan(md) {
        padding-top: $size-100;
      }
    }
  }

    .mainImage {
      width: 462px;
      aspect-ratio: 0.0.832432;
      height: auto;
    }
  .gradient {
    &:before {
      content: "";
      position: absolute;
      overflow: hidden;
      height: 515px;
      width: 570px;
      z-index: -1;
      background-repeat: no-repeat;
      background-image: url("../../../../public/assets//bluebg.svg");
      background-size: cover;
      @include lessThan(sm) {
        display: none;
      }
    }
  }
}
