@import "../../../styles";
.cta {
  position: relative;
  max-width: 1800px;  
  margin-inline: auto;
}
.cta::before {
  content: "";
  position: absolute;
  z-index: -999;
  height: 800px;
  width: 100%;
  background-image: url("../../../../public//assets//red.svg"),
    url("../../../../public//assets//f2back.svg");
  background-position: left 3rem, right 3rem;
  background-repeat: no-repeat;
}

.containerProps {
  width: 100% !important ;
  justify-content: space-between;
  flex-flow: nowrap !important;
}
.forwardBtnProps {
  display: inline-block;
  width: 30px;
  height: 30px;
  align-self: center;
  background-color: $black;
  border: 2px solid $voilet;
  border-radius: 50%;
  color: $voilet;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
.backwardBtnProps {
  width: 30px;
  height: 30px;
  align-self: center;
  background-color: $black;
  border: 2px solid $voilet;
  border-radius: 50%;
  color: $voilet;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
}
.forwardBtnProps,
.backwardBtnProps {
  svg {
    position: absolute;
  }
  @include lessThan(sm) {
    width: 28px;
    height: 28px;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.heading {
  font-size: var(--fs-900);
  font-weight: $font-weight-bold;
  font-style: normal;
}
.sub-heading {
  font-size: var(--fs-700);
  color: $voilet;
}

.carousal-bxx {
  padding: 1rem;
  .carousal-data {
    width: 280px;
    height: 400px;
    cursor: pointer;
    @include lessThan(sm) {
      width: calc(100vw - 120px);
    }
    img {
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @include lessThan(sm) {
        width: 100%;
      }
    }
    .bx_outer {
      height: 200px;
      padding: 15px;
      border-radius: 0px 0px 24px 24px;
      border: 1px solid $primary;
      .bx_inn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: $font-size-xsm;
          color: $voilet;
          font-weight: $font-weight-semi-bold;
          font-style: normal;
          margin-bottom: 15px;
        }
      }
      h4 {
        font-size: $font-size-sm;
        font-weight: $font-weight-semi-bold;
        line-height: 19.2px;
        color: $white;
      }
      p {
        font-size: 9px;
        color: $white;
      }
    }
  }
}
