@import "../../../styles";
.wrapper {
  --max-width: 1700px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.primary-header {
  padding-top: var(--size-300);
}
.nav-wrapper {
  display: grid;
  grid-template-columns: 32% 68%;
  img {
    height: 33px;
  }
}
.primary-navigation {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 9999;
  li {
    a {
      color: $white;
      letter-spacing: 0.0075rem;
      text-transform: capitalize;
      cursor: pointer;
      padding: 8px 12px;
      font-size: $font-size-md;
      font-weight: 500;
      transition: opacity 0.3s, color 0.3s;
      &:hover {
        color: $primary;
      }
    }
    @include lessThan(sm) {
      display: none;
    }
    @include lessThan(md) {
      display: none;
    }
    @include lessThan(lg) {
      a {
        font-size: $font-size-xxsm;
      }
    }
  }


/* styles/DropdownMenu.module.css */

.dropdownContainer {
  position: relative;
  .side_bx{
    display: none;
    @include lessThan(md){
      display: block;
    }
    .hamIcon{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
       width: 25px;
       height: 30px;
      }
     }
  }

  .dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    left: -90px;
    background-color: #1e174c;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    z-index: 1;
    width: 120px;
    border-radius: 11px;
    border: 1px solid #342c65;
    box-shadow: -3px 5px 36px 3px #20004c;
    a{
      padding: 6px 15px;
      text-decoration: none;
      color: $white;
    &:hover{
      background-color: #191050;
  
    }
    }
  }
  

}









}

.nav-list {
  display: flex;
  gap: clamp(1rem, 5vw, $size-900);
  font-weight: $font-weight-regular;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 1;
  display: none;
  .nav-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455ce9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

}
