@import "../../../styles";
.wrapper {
  --max-width: 1600px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  @include moreThan(lg) {
    --padding: 4.2rem;
  }
}

.primary-header {
  z-index: 9999;
}
.nav-wrapper {
  display: grid;
  grid-template-columns: 4fr 5fr;
  height: 80px;
  @include lessThan(xl) {
    grid-template-columns: 3fr 5fr;
    height: 60px;
  }

  .logo-bx {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    .logo {
      @include lessThan(md) {
        width: 140px;
        height: auto;
      }
      @include lessThan(sm) {
        width: 100px;
        height: auto;
      }
    }
  }
}
.primary-navigation {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 9999;
  align-items: center;
  @include lessThan(md) {
    justify-content: end;
  }

  // @include lessThan(sm) {
  //   justify-content: space-between;
  //   // margin-top: 16px;
  // }

  li {
    .links {
      color: $white;
      letter-spacing: 0.0075rem;
      text-transform: capitalize;
      cursor: pointer;
      padding: 8px 8px;
      font-size: clamp(0.625rem, 0.534rem + 0.3883vw, 1rem);
      transition: opacity 0.3s, color 0.3s;
      &:hover {
        color: $primary;
      }
    }

    @include lessThan(lg) {
      a {
        font-size: 9px;
      }
    }
  }
  .hide {
    @include lessThan(md) {
      display: none;
    }
  }

  .side_bx {
    display: none;
    @include lessThan(md) {
      display: block;
    }
    .hamIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 18px;
        aspect-ratio: 0.899;
        height: auto;
      }
    }
  }

  .dropdownContainer {
    position: relative;
    .dropdownContent {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 29px;
      left: -130px;
      background-color: #1e174c;
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
      z-index: 1;
      width: 120px;
      border-radius: 11px;
      border: 1px solid #342c65;
      box-shadow: -3px 5px 36px 3px #20004c;
      a {
        padding: 6px 15px;
        text-decoration: none;
        color: $white;
        &:hover {
          background-color: #191050;
          border-radius: 60px;
        }
      }
    }
  }
}

.nav-list {
  display: flex;
  // gap: clamp(1rem, 3vw, 4rem);
  gap: clamp(1rem, 1vw, 4rem);
  font-weight: $font-weight-regular;
  justify-content: center;
  align-items: center;
  @include lessThan(xl) {
    gap: 1rem;
  }
  @include lessThan(sm) {
    gap: 0.5rem;
    button {
      width: 52px;
      border-radius: 12px;
    }
  }
}

.header {
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 1;
  display: none;
  .nav-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455ce9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
