@import "../../../styles";

.bg-trade {
  background-image: url("../../../../public//assets/trade-bg.svg");
  background-repeat: no-repeat;
  background-position: top right 18rem;
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  right: 0;
  z-index: 1;
  @include lessThan(lg) {
    background-position: top right 7rem;
  }
  @include lessThan(sm) {
    display: none;
  }
}

.outer_bx {
  gap: 11.5rem;
  display: flex;
  justify-content: center;
  @include lessThan(md) {
    gap: 3.5rem;
  }
  @include lessThan(sm) {
    gap: 3rem;
  }
  @include lessThan(lg) {
    gap: 4rem;
  }
  .in_bx {
    z-index: 999;
    width: clamp(12.5rem, 8.6735rem + 16.3265vw, 25rem);
    height: clamp(3.75rem, 2.3724rem + 5.8776vw, 8.25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 0.947px solid #342c65;
    background: linear-gradient(
      134deg,
      rgba(71, 54, 177, 0.49) 20.53%,
      rgba(58, 43, 147, 0.23) 97.99%
    );
    box-shadow: -3px 5px 36px 3px #20004c;
    backdrop-filter: blur(12.790874481201172px);
    img {
      width: 292px;
      height: 65px;
      @include lessThan(xl){
        width: 200px;
        height: 95px;
      }
      @include lessThan(lg){
        width: 170px;
        height: 75px;
      }
      @include lessThan(md) {
        width: 120px;
        height: 60px;
      }
      @include lessThan(sm) {
        width: 100px;
        height: 50px;
      }
      @include lessThan(xs){
        width:70px;
        height: 45px;
      }
    }
  }
}
